ConsultoresGISGeoServiceBase/bin
ConsultoresGISGeoServiceBase/obj
GeoServices-Test/bin
GeoServices-Test/obj
*.user
*.suo
*.testsettings
TestResults/
.svn
*/.svn
*/*/.svn
*/*/*/.svn
*/*/*/*/.svn
*/*/*/*/*/.svn
*/*/*/*/*/*/.svn
*/*/*/*/*/*/*/.svn
*/*/*/*/*/*/*/*/.svn
