GeoServices/bin
GeoServices/obj
GeoServicesSharp/bin
GeoServicesSharp/obj
GeoServicesEncryptionManager/bin
GeoServicesEncryptionManager/obj
GeoServicesConnectionChecker/bin
GeoServicesConnectionChecker/obj
GeoServices-Test/bin
GeoServices-Test/obj
*.user
*.suo
TestResults/
