<?xml version="1.0" encoding="utf-8" ?>
<config>
  <!-- 
  Aca se debe especificar el nombre de la aplicacion 
  Esto genera el nombre del logger y del EventViewer
  -->
  <application name="NombreAplicacion" />  

  <schedule>
    <!-- Formato 24Hs  HH:MM -->
    <time start="12:00" />
    <time start="00:00" />
  </schedule>

  <!-- Cualquier adicional debe estar contenido aca y debe generarse una clase que herede de XMLGetter para obtener los datos-->
  <!-- 
  <rootejemplo>
    <nodoejemplo>ejemplo</nodoejemplo>  
  </rootejemplo>
  -->
  
  <!-- La informacion del SDE se coloca debajo. Pueden especificarse 1 o muchas conexiones -->
  <sdeconnections>
    <connection username="usuario1" password="password1" server="servidor" instance="instancia" database="baseDeDatos" sdeversion="owner.version" />
    <!-- 
    <connection username="usuario2" password="password2" server="servidor" instance="instancia" database="baseDeDatos" sdeversion="owner.version" />
    -->
  </sdeconnections>
</config>